div.links{
    width:400px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.content{
    width:400px;
    margin: 0 auto;
    font-family:BIZ UD明朝;
    margin-bottom: 50px;
    text-align: center;
}

a{
    color:rgb(7, 3, 31);
}

html,body{
    background-color: rgb(208, 210, 211);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    padding: 10px;
    box-sizing: border-box;
    font-family: serif;
    display: flex;
    justify-content: center;
}

footer{
    text-align: center;
}

footer input{
    margin-left: 10px;
    width: 130px;
}
