div.links{
    width:360px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.content{
    width:360px;
    margin: 0 auto;
    font-family:BIZ UD明朝;
    margin-bottom: 50px;
    text-align: left;
}

a{
    color:rgb(7, 3, 31);
}

html{
    background-color: rgb(208, 210, 211);
      display: flex;
  justify-content: center;
}
body{
    background-color: rgb(208, 210, 211);
        width:360px;
}

header{
    text-align: center;
    padding: 10px;
    font-family: serif;
    width:340px;
}

footer{
    text-align: center;
    width:360px;
}

button {
    background-color: #181818;
    color:white;
    border-radius: 7px;
    font-family: BIZ UD明朝;
}

small {
    color:rgb(12, 77, 15);
}