div.links{
    width:360px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.content{
    width:360px;
    margin: 0 auto;
    font-family:BIZ UD明朝;
    margin-bottom: 50px;
    text-align: center;
}

a{
    color:rgb(7, 3, 31);
}

html{
    background-color: rgb(208, 210, 211);
      display: flex;
  justify-content: center;
}
body{
    background-color: rgb(208, 210, 211);
        width:400px;
}

header{
    text-align: center;
    padding: 10px;
    font-family: serif;
    width:360px;
}

footer{
    text-align: center;
    width:360px;
}
